@font-face {
  font-family: 'Museo';
  src: url('./fonts/Museo-900.woff');
  font-weight: bolder;
  font-style: normal;
}

@font-face {
  font-family: 'Museo';
  src: url('./fonts/Museo-700.woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Museo';
  src: url('./fonts/Museo-300.woff');
  font-weight: bolder;
  font-style: normal;
}

body {
  font-family: 'Museo', 'Helvetica', 'san-serif';
  font-size: 18px;
  background-color: #FEFEFE;
  color: #2BA6C8;
  padding: 0;
  margin: 0;
}

.clearfix::after, .container::after, .form-horizontal .form-group::after, .nav::after, .navbar-collapse::after, .navbar-header::after, .navbar::after, .row::after {
  clear: both;
}

.clearfix:after, .clearfix:before, .container:after, .container:before, .form-horizontal .form-group:after, .form-horizontal .form-group:before, .nav:after, .nav:before, .navbar-collapse:after, .navbar-collapse:before, .navbar-header:after, .navbar-header:before, .navbar:after, .navbar:before, .row:after, .row:before {
  display: table;
  content: " ";
}

section.hero {
  color: #ffffff;
  background-color: #4AD5FD;
  border-bottom: 2px solid #2FA7C9; 
}

section.hero h1 {
  font-size: 54px;
  font-weight: bolder;
  margin: 0;
  margin-bottom: 10px;
}

section.hero p {
  font-size: 28px;
  font-weight: normal;
  margin: 0;
}

@media (max-width: 768px) {
  section.hero h1 {
    font-size: 34px;
  }
  section.hero p {
    font-size: 22px;
  }      
}

section.hero legend {
  font-weight: normal;
  font-size: 18px;
}

.main-right {
  width: 380px;
  margin: 20px;
  float: right;
}

.illo-container {
  position: relative;
  width: 380px;
  height: 380px;
  background: transparent url('./images/illos.png');
  background-size: 1140px 760px;
  background-position: 0 0;
  cursor: pointer;
  overflow: hidden;
  -webkit-touch-callout: none;
  user-select: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.illo-container[data-pos="illo-open"] {
  background-position: 0 380px;
}

.illo-container[data-pos="illo-right"] {
  background-position: 380px 0;
}

.illo-container[data-pos="illo-left"] {
  background-position: 380px 380px;
}

.illo-container[data-pos="illo-top"] {
  background-position: 760px 0;
}

.illo-container[data-pos="illo-bottom"] {
  background-position: 760px 380px;
}

.illo-container .illo-top {
  position: absolute;
  height: 150px;
  top: -60px;
  left: 40px;
  right: 40px;
}

.illo-container .illo-bottom {
  position: absolute;
  height: 150px;
  bottom: -40px;
  left: 40px;
  right: 40px;
}

.illo-container .illo-left {
  position: absolute;
  width: 150px;
  bottom: 50px;
  top: 50px;
  left: -40px;
}

.illo-container .illo-right {
  position: absolute;
  width: 150px;
  bottom: 50px;
  top: 50px;
  right: -40px;
}

.actions {
  padding: 40px 0;
  display: inline-block;
}

.actions legend {
  text-align: center;
}

@media (max-width: 768px) {
  .main-left {
    text-align: center;
  }

  .main-right {
    float: none;
    margin: 0 auto;
    zoom: 0.7;
  }

  .actions {
    text-align: center;
  }
}

section.hero .hero-bottom {
  display: flex;
  height: 50px;
  align-items: center;
  justify-content: center;
}

.btn {
  display: inline-block;
  background: rgb(255, 100, 162);
  box-shadow: 0 3px 0 0 #C34A7A;
  border-radius: 100px;
  font-size: 28px;
  color: #ffffff;
  padding: 20px 50px 21px;
  margin: 20px 10px;
  font-weight: bolder;
  text-decoration: none;
  transform: translateY(0);
  transition: transform .3s, background-color .3s, box-shadow .3s;
}


@media (max-width: 768px) {
  .btn {
    font-size: 24px;
  }
}

.btn:hover {
  background: rgb(255, 118, 173);
  transform: translateY(-1px);      
  box-shadow: 0 4px 0 0 #C34A7A;
}

.btn:active {
  background: rgb(212, 65, 124);
  transform: translateY(1px);      
  box-shadow: 0 2px 0 0 #C34A7A;
}

.btn.btn-sm {
  font-size: 16px;
  padding: 10px 15px;
  border-radius: 5px;
}

.container {
  margin: 0 auto;
  padding: 20px;
}


@media (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media (min-width: 1024px) {
  .container {
    width: 1024px;
  }
}

@media (min-width: 1224px) {
  .container {
    width: 1224px;
  }
}

.arrow-down {
  display: inline-block;
  width: 18px;
  height: 18px;
  background: transparent url('./images/arrow-down.svg');
  margin: 0 10px;
}

.story {
  background: transparent url('./images/path.svg') no-repeat;
  background-position-x: center; 
  min-height: 1571px;
  width: 1024px;
  margin: 0 auto;
}

.story article {
  display: flex;
  height: 500px;
}

.story article:nth-child(1) {
  flex-direction: row-reverse;
}

.story article:nth-child(2) {
  flex-direction: row;
}

.story article:nth-child(3) {
  flex-direction: row-reverse;
}

.story article .text, .story article .image {
  display: flex;
  width: 50%;
  align-items: center;
  justify-content: center;
}

.story article .text {
  font-size: 28px;
  font-weight: bold;
  padding: 20px;
  text-align: left;
}

.pink {
  color: #FD64A0;
}

@media (max-width: 1024px) {
  .story {
    background: transparent;
    width: 100%;
    min-height: inherit;
  }

  .story article {
    display: block;        
  }

  .story article {
    height: auto;
    width: auto;
    padding: 30px 0;
  }

  .story article .text {
    font-size: 20px;
    padding: 10px 20px;
    padding-left: 30px;
    text-align: center;
  }

  .story article .image {
    padding-left: 20px;
  }

  .story article .text, .story article .image {
    width: auto;
    height: auto;
  }
}

@media (max-width: 462px) {
  .story article .image img {
    width: 100%;
    height: auto;
  }
}


.icon {
  vertical-align: middle;
}

footer {
  width: 100%;
}

.footer-links {
  list-style: none;
  color: #6ACDE8;
  font-size: 18px;
  text-align: center;
  padding: 0;
  margin: 0;
}

.footer-links li {
  display: inline-block;
  padding: 20px 0;
}

.footer-links li a {
  text-decoration: none;
  color: #6ACDE8;
}

.footer-links li a:hover {
  text-decoration: underline;
}


.footer-links li:last-child::after {
  content: "";
}

.footer-links li::after {
  content: "|";
  margin: 0 30px;
}

.footer-credits {
  text-align: center;
  font-size: 14px;
  color: #6ACDE8;
  padding: 30px 0;   
}

.footer-credits strong {
  font-size: 16px;
  font-weight: bold;
}
@media (max-width: 768px) {
  .footer-links {
    text-align: left;
  }
  .footer-links li {
    display: block;
    padding: 15px 20px;
  }
  .footer-links li::after {
    content: "";
    margin: 0;
  }
}

.cta {
  background: #FFFFFF;
  border: 1px solid #E8F8FD;
  box-shadow: 0 0 8px 0 rgba(0,0,0,0.01);
  border-radius: 2px;
  width: 450px;
  margin: 0 auto;
  margin-bottom: 20px;
  color: #7D8D96;
}

.cta h2{
  font-size: 28px;
  color: #2BA6C8;
  margin: 5px 0;      
}
.cta p{
  margin: 0;      
}
.cta-content{
  padding: 20px;      
}
.cta img{
  width: 100%;
  height: auto;
}
@media (max-width: 500px) {
  .cta {
    width: 300px;
  }
  .cta h2{
    font-size: 20px;
  }
}


/* HEADER */
header {
  background-color: #4AD5FD;
  display: block;
  position: relative;
}

header > nav > .container {
  padding: 0 15px;
}

.nav {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

.navbar-header {
  margin-right: 0;
  margin-left: 0;
}

.navbar-nav {
  margin: 0;
}

.nav > li {
  position: relative;
  display: block;
}


.nav > li > a:not(.btn) {
  line-height: 75px;
  font-size: 18px;
  text-decoration: none;
  color: #ffffff;
  font-weight: normal;
  margin: 0 20px;
  padding: 3px;
}

.nav > li > a:not(.btn):hover {
  text-decoration: none;
  border-bottom: 2px solid #fff;
}

.nav-brand {
  width: 219px;
  padding-top: 22px;
  padding-bottom: 22px;
  padding-right: 30px;
  border: 0;
}

.navbar-right {
  margin-right: -15px;
}

.nav-toggle {
  display: none;
}

.nav-cta {
  float: right;
  margin: 12px;
}

body.fixed-header header {
  z-index: 999999;
  position: fixed;
  width: 100%;
  height: 66px;
  top: -76px;
  transform: translateY(75px);
  transition: transform .3s;
  background: transparent;
}

body.fixed-header .nav > li > a:not(.btn) {
  font-size: 16px;
  line-height: 65px;
  margin: 0 10px;  
}

body.fixed-header .nav-brand {
  width: 156px;
  padding-top: 21px;
}

body.fixed-header > section.hero {
  padding-top: 75px;
}

body.fixed-header header>nav>.container {
  background-color: #47CEF4;
  border: 1px solid #2BA6C8;
  border-bottom: 2px solid #2BA6C8;
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
}

body.fixed-header-end header {
  transform: translateY(0px);
  transition: transform .3s;
}

@media (max-width: 1000px) {
  .nav-brand {
    width: 156px;
    padding-top: 21px;
  }

  .nav > li > a:not(.btn) {
    font-size: 16px;
    line-height: 65px;
    margin: 0 10px;  
  }
}

@media (max-width: 768px) {
  .nav-brand {
    padding-right: 0;
  }

  body.fixed-header header>nav>.container {
    margin: 0 5px;
  }

  .nav-toggle {
    cursor: pointer;
    display: block;
    float: left;
    margin: 23px 15px 23px 5px;
  }

  .navbar-collapse.collapse {
    display: none;
  }

  .nav > li:first-child {
    border-top: 1px solid #82e4ff;
  }

  .nav > li {
    border-bottom: 1px solid #82e4ff;
  }
}

@media (min-width: 768px) {
  .nav-brand {
    float: left;
  }

  .navbar-header {
    float: left;
  }

  .navbar-nav  > li {
    float: left;
  }
  
  .navbar-nav {
    float: left;
  }

  .navbar-right{
    float: right;
  }
}

.fulltoy-section {
  position: relative;
  height: 700px;
  overflow: hidden;
  background: #4AD5FD url('./images/sparks.svg') no-repeat center center;
}

@media (max-width: 768px) {
  .fulltoy-section {
    zoom: 0.7;
  }
}
.fulltoy-section .goat {
  position: absolute;
  top: 30px;
  left: 50%;
  margin-left: -76px; 
  width: 153px;
  height: 549px;
  background: transparent url('./images/goat.svg');
  z-index: 20;
}

.fulltoy-section .goat.squeezed {
  margin-left: -129px; 
  width: 258px;
  height: 541px;
  background: transparent url('./images/goat-squeezed.svg');
}

.fulltoy-section #goat-action {
  background: transparent url('./images/goat-squeezed.svg') no-repeat -9999px -9999px;
  position: absolute;
  top: 30px;
  left: 50%;
  margin-left: -76px; 
  width: 153px;
  height: 549px;
  z-index: 40;
  cursor: pointer;
  -webkit-touch-callout: none;
  user-select: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}


.fulltoy-section .arm {
  position: absolute;
  top: 235px;
  left: 50%;
  margin-left: -78px; 
  width: 522px;
  height: 195px;
  background: transparent url('./images/hand.svg');
  z-index: 10;  
}

.fulltoy-section .thumb {
  position: absolute;
  top: 337px;
  left: 50%;
  margin-left: -22px; 
  width: 126px;
  height: 56px;
  background: transparent url('./images/thumb.svg');
  z-index: 30;
}

.fulltoy-section .shadow {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: 383px;
  width: 50%;
  background-image: linear-gradient(90deg,
    rgba(74,213,253,0.00) 0%, #4AD5FD 59px,
    #4AD5FD 60px, #4AD5FD 100%);
  z-index: 40;
}

@keyframes impatient {
  0%   {transform: translateX(220px);}
  25%  {transform: translateX(150px);}
  50%  {transform: translateX(160px);}
  80% {transform: translateX(210px);}
  100% {transform: translateX(220px);}
}

.fulltoy-section .arm, .fulltoy-section .thumb {
  transform: translateX(220px);
  animation: impatient 5s infinite 1s;
  transition: .5s ease-in transform;  
  animation-timing-function: cubic-bezier(0.680, -0.550, 0.265, 1.550);
}

.fulltoy-section.squeezed .arm, .fulltoy-section.squeezed .thumb {
  transform: translateX(0);
  animation: none;
  transition: 300ms ease-in transform;
}

.impact-section {
  position: absolute;
  top: -60px;
  left: 50%;
  width: 500px;
  margin-left: -225px;
  height: 240px;
  background: #FFFFFF;
  border: 1px solid #E8F8FD;
  box-shadow: 0 5px 19px 0 rgba(0,0,0,0.15);
  border-radius: 11px;
  z-index: 50;
}

.impact-section-container {
  padding: 20px;
}

.collage-section {
  position: relative;
  width: 100%;
  height: 360px;
  background: transparent url('./images/collage.jpg') repeat-x;
  background-size: 1440px 360px;
  text-align: center;
}

.collage-section h2 {
  font-size: 28px;
  margin: 0;
}

.collage-section p {
  font-size: 18px;
  color: #7D8D96;
  margin: 10px 0 0 0;  
}

.collage-shadow {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 40;
  background-color: rgba(0, 0, 0, 0.4);
  transition: 300ms ease-in background-color;
  cursor: pointer;
}

.collage-shadow:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

.collage-button {
  display: inline-block;
  padding: 10px 20px;
  color: #fff;
  font-size: 18px;
  background: rgba(0, 0, 0, 0.4);
  border-radius: 64px;
  position: absolute;
  bottom: 40px;
  margin-left: -140px;
  left: 50%;
  text-decoration: none;
  transition: 300ms ease-in background-color;   
}

.collage-shadow:hover .collage-button {
  background: rgba(0, 0, 0, 0.8);
  transition: 300ms ease-in background-color;   
}


@media (max-width: 768px) {
  .impact-section {
    position: relative;
    border-radius: 0;
    box-shadow: none;
    width: 100%;
    margin: 0;
    left: 0;
    border: 0;
    height: auto;
  }

  .collage-section {
    background-size: 720px 180px;
    background-position-y: 230px;
    text-align: center;
    height: 400px;
  }

  .collage-shadow{
    background-color: rgba(0, 0, 0, 0.2);
  }

  .collage-button {
    position: relative;
    margin: 0;
    left: 0;
    text-align: center;
    margin-top: 310px;
    background: rgba(0, 0, 0, 0.8);
    
  }
}

.sticky-social {
  position: fixed;
  bottom: -200px;
  left: 10px;
  height: 264px;
  background-color: #FD64A0;
  box-shadow: 2px 2px 0 0 #FDBFD7;
}

.sticky-social-container {
  margin: 20px;
}

.sticky-social a {
  color: #fff;
  text-decoration: none;
  margin: 0 10px;
  display: inline-block;
  vertical-align: middle;
}

.sticky-social a.separator {
  padding-left: 10px;
  height: 20px;
  border-left: 2px solid #FFF;
}

.sticky-social a:not(.separator):hover {
  transform: scale(1.2);
  transition: 300ms ease-in transform;
}

.sticky-social a img {
  vertical-align: middle;
  border: 0;
}